.add-driver-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.success-message {
  color: green;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}